<!doctype html>
<html>
  <head>
    <title>Code tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <meta charset="utf-8">
  </head>
  <body>
    <form method="POST">
      <label for="input-box">Code/Text:</label>
      <br>
      <textarea name="input-box" id="input-box" cols="50" rows="10"></textarea>
      <br>
      <h1 class="policy-note">Note: This website uses OpenAI API, for data security reasons, please anonymize your code</h1>
      <input type="submit" value="Text to code in :" name="text2code" id="text2code">
      <select name="language" id="language-selector" >
          <option value="python3">Python 3</option>
          <option value="python2">Python 2</option>
          <option value="javascript">JavaScript</option>
          <option value="java">Java</option>
          <option value="c">C</option>
          <option value="c++">C++</option>
          <option value="c#">C#</option>
          <option value="html">HTML</option>
          <option value="bash">Bash</option>
          <option value="sql">SQL</option>
          <option value="rust">Rust</option>
          <option value="assembly">Assembly</option>
          <option value="PHP">PHP</option>

      </select>   
      <br>
      <input type="submit" value="Direct talk to AI" name="direct"> 
      <br>
      <input type="submit" value="Generate Documentation (English)" name="docen">
      <br>
      <input type="submit" value="Generate Documentation (French)" name="docfr">
      <br>
      <input type="submit" value="Comment" name="comment">
      <br>
      <input type="submit" value="Improve" name="improve">      
    </form>  
    <div class="loading" id="loading-spinner">
      <div class="loading-spinner"></div>
    </div>
    <script>
      var spinner = document.getElementById("loading-spinner");
      var form = document.querySelector('form');
      var buttons = document.querySelectorAll("form input[type='submit']");
      
      buttons.forEach(function(button) {
        button.addEventListener("click", function() {
          spinner.classList.add('show-spinner');
          form.style.filter = "brightness(50%)";
          const scrollPosition = window.pageYOffset;
          spinner.style.top = `calc(30% + ${scrollPosition}px)`;
          window.addEventListener('scroll', () => {
            const scrollPosition = window.pageYOffset;
            spinner.style.top = `calc(30% + ${scrollPosition}px)`;
          });
        });
      });
    </script>
         
  </body>
</html>
